.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.players-hand{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-cards{
  display: flex;
  padding: 1%;
}

.card{
  margin-left: 1%;
}

.bullet-card{
  color: white;
  border-style: solid;
  border-color: black;
  height: 15%;
  padding: 0.4%;
  width: 4%;
}

.bullet-card:hover{
  color: black;
}

.hidden-card{
  color: white;
  border-style: solid;
  border-color: black;
  height: 15%;
  padding: 0.4%;
  width: 4%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
